/* Reset default CSS */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(41, 41, 41);
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
#home{
  color: white;
  text-decoration: none;
}
#navbar{
  display: flex;
  justify-content: space-between;
}

#leftDiv, #rightDiv {
  color: white;
  font-size: 20px;
  padding: 25px 45px 25px 45px;
}

#allTaskDiv{
  color: #ffffff;
  font-size: 25px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  overflow-x: hidden;
}

#todoDiv, #inProgressDiv, #doneDiv{
  color: #ffffff;
  font-size: 25px;
  padding: 30px;
  overflow-y: auto;
  flex: 1;
}

#todoDiv h2,
#inProgressDiv h2,
#doneDiv h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #a1d541;
}


.singleCard{
  background-color: rgb(74,74,74);
  height: auto;
  overflow-y: auto;
  width: 400px;
  margin: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column; 
}

.cardHeading{
  color: white; 
  font-size: 20px;
  margin-left: 15px;  
  padding-bottom: 0px;
  background-color: rgb(74,74,74);
  padding: 1px;
  overflow-x: auto;
}
.editTodoSvg{
  width: 25px;
  height: 25px;
  color: white;
  background-color: rgb(74,74,74);
  margin-right: 15px;
}
.cardHeadingNSvg, a{
  width: auto;
  height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: rgb(74,74,74);
  align-items: center;
}
.tag-Container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
  width: auto;
  height: 45px;
  background-color: rgb(74,74,74);
}
.singleTag{
  display: inline-block;
  width: fit-content;
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  border-radius: 9px;
  color: black;
  border: none;
  overflow-y: hidden;

}
.tagText{
  width: 100%;
}

.descriptionCard{
  background-color: rgb(74,74,74);
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  width: auto;
  height: auto;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: row;
  align-items: center;
}
.descriptionCard p{
  background-color: rgb(74,74,74);
  padding: 3px 0px 3px 3px;
  width: 260px;
  overflow: hidden;
  height: 20px;
  font-size: 12px;

}
.readMore{
  color: rgb(111,133,247);
  width: auto;
  font-size: 15px;
  text-decoration: none;
}
.createdNUpdatedDiv{
  background-color: rgb(74,74,74);
  padding-right: 15px;
  width: auto;
  margin-left: 15px;
  height: 50px;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.createdNUpdatedDiv, p, span{
  padding-left: 0px;
  font-size: 10px;
  background-color: rgb(74,74,74);
}
.createdAtDiv{
  padding-left: 0px;
  font-size: 10px;
  background-color: rgb(74,74,74);
}

.updatedAtDiv{
  padding-right: 0px;
}
#createTodoBtn{
  position:fixed;
  width:60px;
  height:60px;
  bottom:50px;
  right:50px;
  background-color: rgb(37, 247, 9);
  border-radius:50px;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#createIcon{
  width:30px;
  height:30px;
  background-color: rgb(37, 247, 9);
}
.noTaskFound{
  width: 430px;
  height: 50px;
  border: 1px dashed wheat;
  margin-top: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#inProgressDiv .singleCard,
#inProgressDiv .cardHeadingNSvg,
#inProgressDiv .cardHeading,
#inProgressDiv .editTodoSvg,
#inProgressDiv .tag-Container,
#inProgressDiv .descriptionCard,
#inProgressDiv .description,
#inProgressDiv .readMore,
#inProgressDiv .createdNUpdatedDiv,
#inProgressDiv .createdAtDiv,
#inProgressDiv .updatedAtDiv,
#inProgressDiv p,#inProgressDiv span
{
  background-color: #584666;
}

#doneDiv .singleCard,
#doneDiv .cardHeadingNSvg,
#doneDiv .cardHeading,
#doneDiv .editTodoSvg,
#doneDiv .tag-Container,
#doneDiv .descriptionCard,
#doneDiv .description,
#doneDiv .readMore,
#doneDiv .createdNUpdatedDiv,
#doneDiv .createdAtDiv,
#doneDiv .updatedAtDiv,
#doneDiv p,#doneDiv span
{
  background-color: #4E6646;
}

._1{
  background-color: rgb(97, 245, 5);
}
._2{
  background-color: rgb(4, 220, 220);
}
._3{
  background-color: rgb(245, 221, 5);
}
._4{
  background-color: rgb(222, 124, 247);
}
._5{
  background-color: rgb(241, 87, 87);
}